<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="it">
<head th:replace="~{/components/fragments :: head}">    <meta charset="UTF-8">
    <title>Ticket Platform</title>
</head>
<body>
<header sec:authorize="hasAuthority('ADMIN')" th:insert="~{/components/fragments :: navbar('admin')}"></header>
<header sec:authorize="hasAuthority('USER')" th:insert="~{/components/fragments :: navbar('operator')}"></header>

<main class="container">
    <div class="row justify-content-center">
        <h1 class="py-3 text-center">Insert a new note for
            <span th:text="${note.getTicket().title}"></span>
        </h1>
        <div class="col-6">
            <form id="note-form" th:object="${note}"
                  th:action="@{'/' + ${note.getTicket().id} + '/note'}"
                  method="POST">
                <input type="hidden" th:field="*{note}" id="notes">
                <div class="mb-3">
                    <label for="note" class="form-label">Description</label>
                    <input type="text" class="form-control" id="note"
                           th:classappend="${#fields.hasErrors('note')}? 'is-invalid'"
                           placeholder="Description" th:field="*{note}">
                    <div th:if="${#fields.hasErrors('note')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('note')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Insert a new note">
                    <input type="reset" class="btn btn-warning btn-lg" value="Reset fields">
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" class="btn btn-primary btn-lg">Go Back</a>
                    <a sec:authorize="hasAuthority('USER')" th:href="@{/user}" class="btn btn-primary btn-lg">Go Back</a>
                </div>
            </form>

        </div>
    </div>
</main>


<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>