<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"     lang="it">
<head th:replace="~{/components/fragments :: head}">
    <meta charset="UTF-8">
    <title>Ticket Platform</title>
</head>
<body>
<header sec:authorize="hasAuthority('ADMIN')" th:insert="~{/components/fragments :: navbar('admin')}"></header>
<header sec:authorize="hasAuthority('USER')" th:insert="~{/components/fragments :: navbar('operator')}"></header>

<main class="container mt-3">
    <h2 class="py-3 text-center">Detail for [[${ticket.title}]]</h2>
    <th:block th:if="${deleteMessage != null}">
        <div th:replace="~{/components/fragments :: deleteAlert(${deleteMessage})}"></div>
    </th:block>
    <th:block th:if="${updateMessage != null}">
        <div th:replace="~{/components/fragments :: successAlert(${updateMessage})}"></div>
    </th:block>
    <th:block th:if="${createMessage != null}">
        <div th:replace="~{/components/fragments :: successAlert(${createMessage})}"></div>
    </th:block>

    <div class="row row-cols-1 row-cols-2 g-4">
        <div class="col">
            <th:block th:object="${ticket}">

                    <div class="card text-center w-auto">
                        <div class="card-body">
                            <h6 th:if="${ticket.getStatus().name() == 'completed'}" class="bg-success text-center text-white">Completed</h6>
                            <h6 th:if="${ticket.getStatus().name() == 'toDo'}" class="bg-danger text-white text-center">To Do</h6>
                            <h6 th:if="${ticket.getStatus().name() == 'current'}" class="bg-warning text-center">Current</h6>
                            <p class="card-text">[[*{description}]]</p>
                            <p class="card-footer" th:if="*{getUser() != null}">
                                User: [[*{getUser().username}]]
                            </p>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" class="btn btn-primary">Go Back</a>
                            <a sec:authorize="hasAuthority('USER')" th:href="@{/user}" class="btn btn-primary">Go Back</a>
                        </div>
                    </div>
            </th:block>
        </div>
        <div class="col">
            <th:block th:object="${note}">

                    <div class="card text-center w-auto">
                        <div class="card-body">
                            <ul class="list-group list-group-flush" th:each="note : ${ticket.notes}">
                                <li class="list-group-item" th:text="'Description: ' + ${note.note}"></li>
                                <li class="list-group-item" th:text="'Creator: ' + ${note.author}"></li>
                                <li class="list-group-item" th:text="'Create at: ' + ${note.createdAt}"></li>
                            </ul>
                            <a th:href="@{/common/{id}/note(id=${ticket.id})}" class="btn btn-success">Nuova Nota</a>


                        </div>
                    </div>

            </th:block>
        </div>
    </div>
</main>

<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>