<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"     lang="it">
<head th:replace="~{/components/fragments :: head}">
    <meta charset="UTF-8">
    <title>Ticket Platform</title>
</head>
<body>
<header sec:authorize="hasAuthority('ADMIN')" th:insert="~{/components/fragments :: navbar('admin')}"></header>
<header sec:authorize="hasAuthority('USER')" th:insert="~{/components/fragments :: navbar('operator')}"></header>

<main class="container">
    <div class="row">
        <h2 class="py-3 text-center">Detail for [[${ticket.title}]]</h2>
        <div class="col-6">
            <th:block th:object="${ticket}">
                <div class="d-flex justify-content-center">
                    <div class="card text-center w-auto">
                        <div class="card-body">
                            <h6 th:if="*{isStatus()}" class="card-subtitle mb-2 bg-danger text-white">[[*{humanStatus(isStatus())}]]</h6>
                            <h6 th:unless="*{isStatus()}" class="card-subtitle mb-2 bg-success text-white">[[*{humanStatus(isStatus())}]]</h6>
                            <p class="card-text">[[*{description}]]</p>
                            <p class="card-footer" th:if="*{getUser() != null}">
                                User: [[*{getUser().username}]]
                            </p>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" class="btn btn-primary">Go Back</a>
                            <a sec:authorize="hasAuthority('USER')" th:href="@{/user}" class="btn btn-primary">Go Back</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="col-6">
            <th:block th:object="${note}">
                <div class="d-flex justify-content-center">
                    <div class="card text-center w-auto">
                        <div class="card-body">
                            <ul class="list-group list-group-flush" th:each="note : ${ticket.notes}">
                                <li class="list-group-item" th:text="'Description: ' + ${note.note}"></li>
                                <li class="list-group-item" th:text="'Creator: ' + ${note.author}"></li>
                                <li class="list-group-item" th:text="'Create at: ' + ${note.createdAt}"></li>
                            </ul>
                            <a th:href="@{/common/{id}/note(id=${ticket.id})}" class="btn btn-success">Nuova Nota</a>


                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
</main>

<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>