<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="it">
<head>

    <!-- Fragment for head -->
    <th:block th:fragment="head">
        <!-- Metatag REQUIRED -->
        <meta charset="UTF-8">

        <!-- All the CSS -->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
        <link th:rel="stylesheet" th:href="@{/style.css}"/>
        <link th:rel="stylesheet" th:ref="@{/webjar/fontawesome/4.7.0/css/all.css}">
    </th:block>
</head>
<body>
<!-- Fragment for navbar -->
<nav th:fragment="navbar(route)" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tickets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"
                       th:classappend="${route == 'homepage' ? 'active' : ''}">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}" th:classappend="${route == 'admin' ? 'active' : ''}" sec:authorize="hasAuthority('ADMIN')">Admin Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}"
                       th:classappend="${route == 'operator' ? 'active' : ''}" sec:authorize="hasAuthority('USER')">Userspace</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/ingredients}"-->
<!--                       th:classappend="${route == 'ingredients' ? 'active' : ''}">Ingredients</a>-->
<!--                </li>-->
            </ul>
            <div class="px-1">
                Logged user: <span class="fw-bold" sec:authentication="name"></span>
                Roles: <span class="fw-bold" sec:authentication="principal.authorities"></span>
            </div>
            <a class="btn btn-sm btn-danger mx-1" th:href="@{/logout}">LogOut</a>
        </div>
    </div>
</nav>

<!-- Fragment for scripts -->
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<!--    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>-->
</th:block>

<!-- Fragment for message -->
<div th:fragment="successAlert(message)" class="alert alert-dismissible fade show alert-success" role="alert">
    <span th:text="${message}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>

<div th:fragment="deleteAlert(message)" class="alert alert-dismissible fade show alert-danger" role="alert">
    <span th:text="${message}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
</body>
</html>