<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="it">
<head th:replace="~{/components/fragments :: head}">    <meta charset="UTF-8">
    <title>Ticket Platform</title>
</head>
<body>
<header sec:authorize="hasAuthority('ADMIN')" th:insert="~{/components/fragments :: navbar('admin')}"></header>
<header sec:authorize="hasAuthority('USER')" th:insert="~{/components/fragments :: navbar('operator')}"></header>

<main class="container mt-3">
    <div class="row row-cols-1 row-cols-2 g-4">
        <div class="col">
            <div class="card text-center w-auto mb-3" th:each="ticket : ${tickets}">
                <div class="card-header" th:text="${ticket.id} + ' - ' + ${ticket.title}"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${ticket.category}"></li>
                    <li class="list-group-item" th:text="${ticket.description}"></li>
                    <li class="list-group-item" th:text="${ticket.createdAt}"></li>
                </ul>

                <div th:if="${ticket.getStatus().name() == 'completed'}"
                     class="bg-success text-center text-white">Completed</div>
                <div th:if="${ticket.getStatus().name() == 'toDo'}"
                     class="bg-danger text-white text-center">To Do</div>
                <div th:if="${ticket.getStatus().name() == 'current'}"
                     class="bg-warning text-center">Current</div>
                <a th:href="@{/common/{id}(id=${ticket.id})}" class="btn btn-sm btn-primary">Show</a>

            </div>

        </div>
        <div class="col">
            <div class="card text-center" th:object="${tickets.get(0).getUser()}">
                <img src="https://cdn-icons-png.flaticon.com/512/4123/4123763.png" class="card-img-top w-25 mx-auto" alt="profile pic">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{username}"></h5>
                    <p class="card-text" th:text="*{email}"></p>
                </div>
                <form th:action="@{/user}" method="post">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="availability" th:id="|availability_active|" autocomplete="off" th:value="true" th:checked="*{getAvailability() == true}">
                        <label class="btn btn-outline-primary" th:for="|availability_active|">Active</label>

                        <input type="radio" class="btn-check" name="availability" th:id="|availability_inactive|" autocomplete="off" th:value="false" th:checked="*{getAvailability() == false}">
                        <label class="btn btn-outline-primary" th:for="|availability_inactive|">Inactive</label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Update Availability</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</main>



<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>