<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="it">
<head th:replace="~{/components/fragments :: head}">    <meta charset="UTF-8">
    <title>Ticket Platform</title>
</head>
<body>

<header th:insert="~{/components/fragments :: navbar('admin')}"></header>


<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="py-3 text-center">List of tickets</h1>
            <th:block th:if="${deleteMessage != null}">
                <div th:replace="~{/components/fragments :: deleteAlert(${deleteMessage})}"></div>
            </th:block>
            <th:block th:if="${updateMessage != null}">
                <div th:replace="~{/components/fragments :: successAlert(${updateMessage})}"></div>
            </th:block>
            <th:block th:if="${createMessage != null}">
                <div th:replace="~{/components/fragments :: successAlert(${createMessage})}"></div>
            </th:block>
            <form id="searchForm" class="d-flex" th:action="@{/admin}" method="GET">
                <input id="searchInput" class="form-control me-2" type="text" name="title" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success col-3 me-2" type="submit">Search</button>
            </form>
            <th:block th:if="${tickets.size() > 0}">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Creation Date</th>
                        <th>Status</th>
                        <th class="button-headers"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.id}"></td>
                        <td th:text="${ticket.title}"></td>
                        <td th:text="${ticket.description}"></td>
                        <td th:text="${ticket.createdAt}"></td>
                        <td th:text="${ticket.humanStatus(ticket.isStatus())}"></td>
                        <td>
                            <a th:href="@{/common/{id}(id=${ticket.id})}" class="btn btn-sm btn-primary">Show</a>
                            <a th:href="@{/ticket/edit/{id}(id=${ticket.id})}" class="btn btn-sm btn-success">Edit</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + ${ticket.id}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'delete-modal-' + ${ticket.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting [[${ticket.title}]]</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure that you want to PERMANENTLY delete [[${ticket.title}]]?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <form class="d-inline-block" th:action="@{/ticket/delete/{id}(id = ${ticket.id})}" method="POST">
                                                <button class="btn btn-sm btn-danger" onclick="return ">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </th:block>
            <th:block th:unless="${tickets.size() > 0}">
                <h3 class="py-5 text-center">
                    No tickets are available this time
                </h3>
            </th:block>
        </div>
    </div>
</main>









<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>